@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* linear-gradient(180deg, #1E98EC 0%, #125B8E 100%) */
    /* url('../../public/bg-pam.jpg') */
    background: #125B8E  url('../../public/bg-pam.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.component-scanner > section > div {
  box-shadow: inset 0 0 0 5px #0256F4!important;
  border-radius: 8px;
}
section.component-scanner > section {
  background-color: #000;
  border-radius: 8px;
}

.ReactModal__Content.ReactModal__Content--after-open {
  z-index: 1;
  position: fixed ;
  top: 0 ;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  background-color: #000 ;
}
div.modal-component.active .ReactModal__Content {
  background: #125B8E  url('../../public/bg-pam.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div.modal-component.error .ReactModal__Content {
  background-color: #b91c1c;
}

.container-modal-content{
  padding-top:10%;
}

.footer-content {
  text-shadow: #fff 1.5px 1.5px;
}

.text-loading {
  text-shadow: #fff 1.5px 1.5px;
}
@media(max-width:768px) {
.welcoming-name {
  font-size: 72px;
}
}